
/**** Body setting the font size for everything ****/
body {
  font-size: 14px;
}


nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/**** Gives some margins and makes it go to only 60% width of page ****/
section {
  margin: 0 auto;
  width: 60%;
}

/**** for the nav ****/
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/**** all the repeated text ****/
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/**** sets style of the text ****/
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element:nth-child(2n){
  background-color: purple;
}
